
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Michroma&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#para
{
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: black;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    padding: 3rem;
}

@media (max-width: 768px)
{
    #para
    {
        font-size: 1.5rem;
        padding: 2rem;
    }

    
    
}



#gt
{
    text-align: center;
    font-family: 'PT Serif', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
}

@media (max-width:768px) {
    #gt {
        font-size: 2rem;
    }
}


.intro-text
{
    display: flex;
    flex-direction: column;
}

@media (max-width:768px) {
    
    .intro-text{
        margin-top: 2rem;
    
    }

    #para
    {
        order: 3;
    }

    #gt
    {
        order: 2;
    }

   
}

nav{
    border: solid 1.5px rgba(0, 0, 0, 0.633);
    width: 90%;
    margin:0 auto;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: stretch;

}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li
{
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Cinzel', serif;
    border-right: solid 1.5px rgba(0, 0, 0, 0.633);
    padding: 1rem 5rem;
}

nav ul li:first-child {
    border-left: solid 1.5px rgba(0, 0, 0, 0.633);
}


nav .fa-bars,
nav .fa-magnifying-glass,
nav ul .fa-xmark {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    
    nav .fa-bars,
nav .fa-magnifying-glass,
nav ul .fa-xmark {
    display: block;
    
}
    
}


.hp
{
    display: flex;
   flex-direction: column;
   
}




@media(max-width:768px)
{
    .hp
    {
        flex-direction: column;
    }

    nav
    {
        width: 100%;
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        border-left: none;
        border-right: none;
        border-top:solid 1.5px rgba(0, 0, 0, 0.633);
    }
    
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 60%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        transition: right 0.3s ease-in-out;
        z-index: 100;
        border-left: 1px solid black;
    }

    nav ul.nav-active {
        right: 0;
    }

    nav ul li {
        border: none;
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;
        justify-content: center;
    }

    nav ul li:first-child {
        border-left: none;
    }


    nav ul .fa-xmark {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 2rem;
        cursor: pointer;
    }

    nav > i {
        display: block;
    }
}

@media (min-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        order: 1;
    }

    nav {
        order: 2;
    }
}
